<div class="col-md-4 login-form" ng-controller="photoUploadController">

	<div class="login-pad">
		<h3> Create Account </h3>
		
		<div>
		<img class="profile-photo" style="width: 300px; height: 300px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px;" ng-src="{{imageSrc}}" /><br /> 
		<i ng-hide="imageSrc">No image choosed</i> 
		</div>
			
		<form>
				
			<input ng-model="txtUsername" type="text" placeholder="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Username';}" required=""> 
			<input ng-model="txtPassword" type="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Password';}" required="">
			</br> </br>
			<input ng-model="txtRetypePassword" type="password" placeholder="Retype password" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Retype password';}" required="">  
			</br> </br>
			<input type="file" accept="image/*"
				upload-directive="onFileSelect($files)" /> <b>Preview:</b><br /> 
				
			<input type="submit" value="Create Account" ng-click="createAccount()"> 
			
			<input type="submit" value="Get User" ng-click="getUserByUsername()">

			<i ng-hide="profilePhoto">No image choosed</i> 
			
			<img style="width: 500px;" ng-src="{{profilePhoto}}" /><br />

		</form>
	</div>

</div>


<div class="clearfix"></div>