<div class="login" ng-controller="logInController">

	<div class="signin">
		<h2>Sign in</h2>
		
		<div class="signin-rit">
			<span class="checkbox1"> <label class="checkbox"><input
					type="checkbox" name="checkbox" checked="">Forgot Password<i>
				</i></label>
			</span>
			<p>
				<a href="#">Click Here</a>
			</p>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	
	<form>
		<div class="log-input">
			<div class="log-input-left">
				<input type="text" class="user" placeholder="Yourname"
					onfocus="this.value = '';"
					onblur="if (this.value == '') {this.value = 'Email address:';}"
					ng-model="txtUsername" />
			</div>
			<span class="checkbox2"> <label class="checkbox"><input
					type="checkbox" name="checkbox" checked=""><i> </i></label>
			</span>
			<div class="clear"></div>
		</div>
		<div class="log-input">
			<div class="log-input-left">
				<input type="password" class="lock" placeholder="password"
					onfocus="this.value = '';"
					onblur="if (this.value == '') {this.value = 'Email address:';}"
					ng-model="txtPassword" />
			</div>
			<span class="checkbox2"> <label class="checkbox"><input
					type="checkbox" name="checkbox" checked=""><i> </i></label>
			</span>
			<div class="clear"></div>
		</div>
		<input type="submit" value="Login to your account" ng-click="singIn()">
	</form>
	
</div>