<div class="col-md-4 login-form" ng-controller="logInController">
					<div class="login-pad">
						<h3>Account Login</h3>
						<form>
							<input type="text" placeholder="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Username';}" required="" ng-model="txtUsername" >
							<input type="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Password';}" required="" ng-model="txtPassword">							
							<input type="submit" value="SIGN IN" ng-click="singIn()">
						</form>
						<a href="/Faces/#/createAccount">Create Account</a>
						<a href="#">Forgot Password?</a>
						<p>OR LOGIN WITH</p>
					</div>
					<div class="mediaLogIn" style=' padding-left: 50em !important; '>					
						<div class="new-grids">	
							<a href="https://accounts.google.com/o/oauth2/auth?scope=email&client_id=706960869932-6cfmcbkugo3qb9f8f1c5a36u1f264tal.apps.googleusercontent.com&redirect_uri=http://localhost:8080/Faces/services/user/google&response_type=token">FACEBOOK</a>
						</div>
						<div class="new-grids twit-grid" ng-controller="googleController">	
							<a ng-click="getToken()">GMAIL</a>
						</div>
					</div>
</div>
				
					
<div class="clearfix"></div>