<div class="content-btm">
	
	
	
	<div class="top-nav2">
	
		
		<span class="menu2" style=" width: 124%;">
			
		<img class="drop-menu" src="images/menu.png" alt=""> 
			<lable> MENU BOX </lable>
			<lable> ACCOUNT </lable>
			<img class="profile-photo" style="width: 50px; float: right; vertical-align: super; -webkit-border-radius: 150px;" ng-src="{{googleProfilePhoto}}" ng-click="ShowHide()"/>
			
		</span>
		
		<span ng-show="IsVisible" style= " display: block; font-size: 1em; position: relative; width: 124%;" >
	       	<div  style= "display: block; float:right; background:#373737; color: #FFFFFF ">
	       		<lable> Loged in as: </lable>
	       		<lable style="display: block;"> {{googleEmail}} </lable>
	       		<a ng-click="logOut()" style="display: block;">Log Out!</a>
	        </div>
        </span>
		
		<ul class="effect1" style="width: 26%;">
			<li><a href="#">Messages<span>30</span></a></li>
			<li><a href="#">Invite<span>5</span></a></li>
			<li><a href="#">Events<span>10</span></a></li>
			<li><a href="#">Account Settings</a></li>
			<li><a href="#">Statistics</a></li>
		</ul>
		

	
		<!-- script-for-menu -->
		<script>
			$("img.drop-menu").click(function() {
				$("ul.effect1").slideToggle(300, function() {
					// Animation complete.
				});
			});
			
		</script>
		

	</div>
</div>