/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto-Regular';
}
@font-face {
      font-family: 'Roboto-Regular';
      src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
      font-family: 'Abel-Regular';
      src: url(../fonts/Abel-Regular.ttf) format('truetype');
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--content--*/
.content {
  background: url(../images/a.png) repeat;
}
.header{
	margin: 3em 0;
}
.logo {
  float: left;
  width: 11%;
  background-color: #B04A22;
  padding: 0.8em 1em 1.2em;
}
.logo img{
	width:100%;
}
.top-nav {
  float: left;
  width: 59%;
  background-color: #e64608;
  padding:2.75em 0;
  line-height: 6px;
}
/*-- menu --*/
.navigation span{
		display:none;
}
/*-- //menu --*/
.content-grids {
  padding-left: 0;
}
.top-nav ul{
	padding:0;
	margin:0;
	}
.top-nav ul li{
	display:inline-block;
	}
.top-nav ul li a {
  font-size: 1.3em;
  color: #fff;
  padding:1.7em 1.6em;
  border-right: 2px solid #d94306;
}
.top-nav ul li a:hover,.top-nav ul li a.active {
	color:#373737;
}
span.menu {
	display: none;
}
.search {
  float: left;
  width: 30%;
  background: #E64608;
  padding: 1.68em 0em;
}
.search form {
  width: 67%;
  margin: 0 1.5em 0 auto;
  position:relative;
}
.search input[type="search"] {
  border: none;
  padding: 9px 3em 9px 14px;
  font-size: 14px;
  background: #fff;
  color: #A9A8A8;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}
.search form input[type="submit"] {
  background: url(../images/search.png) no-repeat 10px 12px;
  width: 43px;
  height: 38px;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  top: 1%;
  right: 0%;
}
/*--content-btm--*/
.content-left {
  padding: 0;
}
.search2 form {
  width: 100%;
  margin: 0;
  position:relative;
}
.search2 input[type="search"] {
  border: none;
    padding: 0.5em 3.5em .5em .8em;
  font-size: 1.5em;
  background: #fff;
  color: #A9A8A8;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}
.search2 form input[type="submit"] {
  background: url(../images/5a.png) no-repeat center center;
  width: 70.5px;
  padding: 1.3em 0 .9em;
  border: none;
  margin: 0;
  background-color: #E64608;
  -webkit-appearance: none;
  outline: none;
    position: absolute;
  top: 0%;
  right: 0%;
}
/*--temperature--*/
.search-btm {
  margin: 2em 0 0;
}
.temp {
  float: left;
  width: 46%;
  background-color: #1da1f4;
  padding: 1em;
  border-bottom: 8px solid #1471ac;
  position: relative;
}
.temp p.date {
  font-size: 1.1em;
  color: #fff;
  margin:2em 0 .3em;
}
.temp h5 {
  font-size: 4em;
  color: #fff;
}
.temp-left {
  position: absolute;
  top: 3%;
  right: 4%;
}
.jobs {
  float: right;
  width: 50%;
  background-color: #fff;
}
.jobs ul li{
  display: block;
}
.jobs ul li:nth-child(2){
	border-bottom: 1px solid rgb(200, 200, 200);
	border-top: 1px solid rgb(200, 200, 200);
}
.jobs ul li a {
  font-size: 1.2em;
  color: #747474;
  display: block;
  padding: .75em 1em .75em 3.5em;
  background: url(../images/3.png) no-repeat 20px 14px;
  transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.jobs ul li a:hover{
  background: url(../images/3a.png)#e64608 no-repeat 20px 14px;
  color: #fff;
}
.jobs ul li a.cmny{
  background: url(../images/4.png)no-repeat 20px 14px;
}
.jobs ul li a.cmny:hover{
  background: url(../images/4a.png)#e64608 no-repeat 20px 14px;
  color: #fff;
}
.jobs ul li a.usr{
  background: url(../images/5.png) no-repeat 20px 14px;
}
.jobs ul li a.usr:hover{
  background: url(../images/5a.png)#e64608 no-repeat 20px 14px;
  color: #fff;
}
/*--temperature--*/
/*--menu--*/
.menu {
  padding-right: 0;
}
.menu ul li {
  display: block;
}
.menu ul li a {
  padding:1.1em 1.2em;
  display: block;
  background-color: #373737;
  border-bottom: 1px solid #4a4a4a;
  color: #fff;
  font-size: 1.2em;
}
.menu ul li a:hover,.menu ul li a.active {
  background-color: #000;
}
/*--//menu--*/

.content-right {
  padding: 0;
  position:relative;
    background-color: #fff;
}
.cntnt-img{
	content:'';
	background:url(../images/img1.jpg)no-repeat 0px 0px;
	min-height:200px;
	background-size:cover;
}
.bnr-text {
  padding-top: 5em;
  text-align: center;
}
.bnr-img {
  display: inline-block;
  position: absolute;
  top: 16%;
  left: 26%;
  border: 12px solid rgba(255, 255, 255, 0.53);
  border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.bnr-img img {
  border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: initial;
}
.bnr-text h1 {
  font-size: 2.3em;
  color: #e64608;
}
.bnr-text h5 {
  font-size: 1.5em;
  color: #919191;
  margin: 0.2em 0 1em;
}
.bnr-text p {
  font-size: 1em;
  color: #919191;
  width: 70%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.btm-num {
  margin-top: 2em;
}
.btm-num ul{
  background-color: #e4e4e4;
}
.btm-num ul li {
  display: inline-block;
  width: 32.7%;
  text-align: center;
  padding:1.35em 0;
}
.btm-num ul li:nth-child(2) {
  border-right: 2px solid #F9F7F7;
  border-left: 2px solid #F9F7F7;
}
.btm-num ul li  h4 {
  font-size: 1.8em;
  color: #4b4b4b;
  font-weight: 900;
}
.btm-num ul li h5 {
  font-size: 1.3em;
  color: #616060;
  margin-top: 0.3em;
}
.content-grids-info {
  margin-bottom: 2em;
}
/*--circles--*/
.circles {
  background: #fff;
  padding: 2em 1em 5em 1em;
}
.circles h3 {
  text-align: center;
  color: #363636;
  font-size: 1.6em;
  margin-bottom:1.3em;
  font-family: 'Abel-Regular';
}
.circle{
	color:#fb5240;
	font-size:36px;
}
span.circles-number {
	font-size: 36px;
}
span.circles-text {
	font-size: 36px;
}
span.perc {
  width: initial !important;
  height: initial !important;
  line-height: 83px !important;
}
.circles-text-wrp {
	line-height: 142px !important;
}
.demo-1,.demo-2,.demo-3{
	width:33.333%;
	float:left;
	position:relative;
}
.title {
  position: absolute;
  bottom: -4em;
  left: 2em;
  text-align: center;
}
.title h4, .title1 h4, .title2 h4 {
  color: #373737;
  font-size: 1.4em;
  font-family: 'Abel-Regular';
}
.title p, .title1 p, .title2 p {
  color: #919191;
  font-size: 1em;
  margin-top: .2em;
}
.title1 {
  position: absolute;
  bottom: -4em;
  left: 1.5em;
  text-align: center;
}
.title2 {
  position: absolute;
  bottom: -4em;
  left: 0.9em;
  text-align: center;
}
/*--/circles--*/
/*--results--*/
.result {
  background: #FFF;
  padding: 2em 0 1.6em 2em;
  width: 48%;
  margin: 0 0 0 1em;
}
.result h3{
	text-align: center;
	color: #363636;
	font-size: 1.6em;
	margin-bottom: 1em;
	font-family: 'Abel-Regular';
}
.skills-top h5 {
  color: #373737;
  font-size: 1.1em;
  margin: 0;
}
.skills {
  width: 80%;
  margin: 10px 0;
  height: 16px;
  background: #E4E4E4;
  position: relative;
}
.skill1 {
	float:left;
	height: 100%;
	display: block;
	background-color:#1DA1F4;
}
.skills-top {
  margin: .4em 0 0 0;
}
.skills-right{
	float:right;
	width:0;
}
.skills-right p {
  color: #373737;
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 0 1em;
}

/*--//results--*/
.center-grids {
  margin-top: 2em;
}
/*--calender--*/
.calnder {
  padding: 0;
}
.cal1 .clndr .clndr-table tr .day.today.event .day-contents {
  color: #fff !important;
}
.clndr-top {
  background-color: #f5c51d;
  padding: 2em;
}
.column_right_grid.calender {
  background-color: rgb(55, 55, 55);
  padding: 2.5em 3em 2.5em;
}
.calender-right {
  position: relative;
  background: #FFF;
}
.calender-right h3 {
  color: #FFF;
  font-weight: 700;
  font-size: 1.8em;
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Abel-Regular';
}
.alert-close, .alert-close1, .alert-close2 ,.alert-close3,.alert-close4,.alert-close5,.alert-close6,.alert-close7,.alert-close8,.alert-close9{
background: url('../images/into.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right: 20px;
  top: 53px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  z-index: 999;
}
.alert-close1 {
	top: 37px;
	right: 20px;
}
.bottom-border{
	background: #000;
	height: 1px;
	width: 38%;
	margin: 2em 0 0;
}
/*--//calender--*/
/*--login--*/
.login-form {
  margin: 0;
  background: #ffffff;
  padding: 0;
}
.login-pad {
  padding:10em 50em 1.3em;
}
.login-form h3 {
  margin: 0 0 30px 0;
  font-size: 1.6em;
  color: #373737;
  text-align: center;
  font-family: 'Abel-Regular';
}
.login-form form input[type="text"], .login-form form input[type="password"] {
  margin: 0 0 30px 0;
  width: 100%;
  padding: 12px 15px 12px 50px;
  font-size: 1.2em;
  outline: none;
  color: #373737;
}
.login-form form{
	margin-bottom:24px;
}
.login-form form input[type="text"] {
  background: url(../images/msg.png) no-repeat 15px 13px;
  border: 1px solid #C2C2C2;
}
.login-form form input[type="password"] {
	background:url(../images/key.png) no-repeat 15px 14px;
	margin-bottom: 0px;
	border: 1px solid #C2C2C2;
}
.login-form form input[type="password"]:hover,.login-form form input[type="text"]:hover {
  border: 1px solid #ec6e3c;
}
.login-form input[type="submit"] {
  background: #E64608;
  width: 70%;
  font-size: 1.2em;
  margin: 2em 4.5em 0;
  color: #ffffff;
  padding: 12px 0px;
  border: none;
  transition: 0.5s all;
  border: 1px solid #E64608;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  outline:none;
}
.login-form input[type="submit"]:hover {
  color: rgb(230, 70, 8);
  background-color: #fff;
}
.login-pad a {
  font-size: 1.2em;
  color: #e69f83;
  text-align: center;
  display: inherit;
}
.login-pad a:hover{
	color: #373737;
}
.login-pad p {
  margin: 1em 0;
  text-align: center;
  font-size: 1em;
  color: #9D9B9B;
  letter-spacing: 1px;
}
.new-grids {
  float: left;
  width: 21%;
  background-color: #3469af;
}
.new-grids.twit-grid {
  background-color: #4fc5f7;
}
.new-grids a {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: .5px;
  text-align: center;
  padding: 1.4em 2em;
  display: block;
}
.new-grids a:hover {
  color: #3469af;
  background-color: #F0F0F0;
}
.new-grids.twit-grid:hover{
	color: #4fc5f7;
  background-color: #F0F0F0;
}
/*--charts--*/
.pie-chrt {
  background-color: #fff;
  padding: 1em;
}
.line-chrt {
  margin: 1em 0 0 0;
  background-color: #fff;
  padding: 1em 1em 1em 0;
}
.pie-charts {
  text-align: center;
}
/*--//charts--*/
.work-grids {
  margin: 2em 0;
}
/*--menu-grids--*/
.menu-list {
  padding: 0;
}
span.menu2 {
  display: block;
  padding: 1em 1.5em;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.5em;
  position: relative;
  background: #E74C3C;
}
span.menu3 {
  display: block;
  padding: 1em 1.5em;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.5em;
  position: relative;
  background: #E74C3C;
}
span.menu2 lable {
  padding-left: 1.5em;
}
span.menu3 lable {
  padding-left: 1.5em;
}
.top-nav2 {
  float: left;
  width: 80%;
}
.top-nav2 ul {
	padding: 0;
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 80%;
	left:0;
	display: block;
}
.top-nav2 ul li {
  display: block;
  background: #373737;
  margin: 0;
  border-bottom: 1px solid #4a4a4a;
}
.top-nav2 ul li a {
  font-size: 1.2em;
  padding: 1.3em 0 1.2em 5em;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  background: url(../images/m1.png) no-repeat 35px 21px;
}
.top-nav2 ul li:nth-child(2) a {
	background: url(../images/m2.png) no-repeat 35px 21px;
}
.top-nav2 ul li:nth-child(3) a {
	background: url(../images/m3.png) no-repeat 35px 21px;
}
.top-nav2 ul li:nth-child(4) a {
	background: url(../images/m4.png) no-repeat 35px 21px;
}
.top-nav2 ul li:nth-child(5) a {
	background: url(../images/m5.png) no-repeat 35px 21px;
}
.top-nav2 ul li a span {
  color: #FFF;
  background-color: #151515;
  border-radius: 30px;
  float: right;
  padding: .4em 1.2em;
  margin-right: 1.5em;
}
.top-nav2 ul li a:hover {
	color:#FFF;
	background-color:#151515;
}
.top-nav2 ul li a:hover span {
	background-color: #e64608;
}
.top-nav3 {
  float: left;
  width: 17.0%;
  margin-left: 1em;
}
line-grids {
  float: left;
  width: 78%;
  margin-left: 1em;
}
.top-nav3.top-nav2 ul {
  width: 16.7%;
  right: 0.2%;
  left: inherit;
}
.top-nav3.top-nav2 span {
  padding: 1em 0;
  text-align: center;
}
.top-nav3.top-nav2 ul li a {
  padding: 1.97em;
  background-position: 26px 23px;
}
/*--//menu-grids--*/
/*--line-grids--*/
.progress {
  background: #666666;
  height: 12px;
  margin: 2em 0 1em;
}
.progress-bar {
	background:#e8480c;
	height:12px;
	position:relative;
}
.progress p.percentage {
  padding: 3px 7px;
  font-size: 0.9em;
  background: red;
  position: absolute;
  right: 92px;
  top: -6px;
  color: #fff;
}
.progress p.percentage:after {
  content: '';
  position: absolute;
  left: 38%;
  bottom: -5px;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #E74C3C;
}
.progress.prgs1 {
  margin: 1em 0 2em;
}
.scrolling {
  margin: 0.5em 0 1.5em;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.flat.scrollable.bottom div::after{
	opacity: 0;
}
/*--//line-grids--*/
.designer {
  text-align: right;
  border: 1px solid;
  padding: 3em 2em;
  background: url(../images/img3.jpg) no-repeat -4px 0px;
  background-size: cover;
  position: relative;
}
.designer h3 {
  font-size: 1.8em;
  color: #5e5e5e;
  font-family: 'Abel-Regular';
}
.designer h5 {
  font-size: 1.1em;
  color: #bbbbbb;
  margin: .5em 0;
}
.designer p {
  font-size: 1.2em;
  color: #e84608;
  margin-bottom: 4em;
}
.social-icons {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.social-icons ul li {
  display: inline-block;
     float: left;
}
.social-icons ul li a {
	background-color: #3368ae;
	display: inline-block;
	padding: .5em;
	border-top: 5px solid rgba(0, 0, 0, 0.36);
}
.social-icons ul li a:hover {
  background-color: rgba(55, 55, 55, 0.75);
}
.social-icons ul li a:before{
  content:'';
  background: url(../images/icons.png)no-repeat 18px 1px;
  display: inline-block;
  width: 55px;
  height: 30px;
}
.social-icons ul li a.twt {
  background-color: #4fc4f9;
}
.social-icons ul li a.twt:hover {
  background-color: rgba(55, 55, 55, 0.75);
}
.social-icons ul li a.twt:before {
  background-position: 14px -25px;
}
.social-icons ul li a.dbl{
  background-color:#ee4a89;
}
.social-icons ul li a.dbl:hover {
  background-color: rgba(55, 55, 55, 0.75);
}
.social-icons ul li a.dbl:before {
  background-position:18px -50px;
  
}
.social-icons ul li a.gp{
  background-color:#d82f2c;
}
.social-icons ul li a.gp:hover {
  background-color: rgba(55, 55, 55, 0.75);
}
.social-icons ul li a.gp:before{
  background-position:18px -80px;
}
.social-icons ul li a span {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1.2em;
}
/*--buttons--*/
.buttons a {
  font-size: 1.2em;
  background: #4fc1e9;
  color: #fff;
  padding: 14px;
  text-align: center;
  border: none;
  outline: none;
  font-family: 'Roboto-Regular';
  width: 100%;
  margin-bottom: 1em;
  display: block;
  transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.buttons a:hover{
  background: #666666;
}
.buttons a.hover {
  background-color:#666666;
}
.buttons a.hover:hover{
  background-color:#4fc1e9;
}
.btn-grids {
  float: left;
  width: 47.5%;
}
.btn-grids.btn-grid2 {
  margin-left: 1em;
}
/*--toogles--*/
.checkbox-toggle:first-child, .check_box:first-child {
  margin-top: 0;
  margin-right: 5%;
}
.checkbox-toggle {
  width: 47%;
  float: left;
}
label {
  margin: 0;
}
/*--buttons--*/
.pages {
  margin: 32em 0 0;
}
.pages ul {
  margin: 0;
    border-radius: 0;
}
.pages ul li.prvs a {
  background-color: #bababa !important;
  border-radius: 0;
}
.pages ul li.prvs a:hover ,.pages ul li.active1 a{
  background-color: rgb(230, 70, 8) !important;
}
.pages ul li.active a {
  color: #e64809 !important;
  background-color: #fff !important;   
}
.pages ul li a {
  border: none;
  color: #000;
  padding: 0.8em 1.13em;
  border-radius: 0;
}
.pages span {
  color: #fff;
  font-size: 1.05em;
  line-height: 1em;
}
.pages ul li a:hover {
  color: rgb(230, 70, 8);
  background-color: #fff;
}

.btns-left {
	float:left;
	width:50%;
	margin-top:15px;
}
/*--icons--*/
.social-icns {
  margin: 1em 0 0 .5em;
}
.social-icns ul li {
  display: inline-block;
  margin: 0 0.2em 0 0;
}
.social-icns ul li a {
  display: inline-block;
  background: url(../images/icons.png) no-repeat -96px 0px;
  width: 32px;
  height: 32px;
  transition:none;
    margin: 0;
}
.social-icns ul li a:hover {
  background: url(../images/icons.png) no-repeat -134px 0px;
}
.social-icns ul li a.twtr {
  background: url(../images/icons.png) no-repeat -96px -39px;
}
.social-icns ul li a.twtr:hover {
  background: url(../images/icons.png) no-repeat -136px -39px;
}
.social-icns ul li a.gpp{
  background: url(../images/icons.png) no-repeat -96px -78px;
}
.social-icns ul li a.gpp:hover {
  background: url(../images/icons.png) no-repeat -134px -78px;
}
/*--icons--*/
.switch {
  margin:0px auto;
  position: relative;
  margin-top:35px;
}
.switch:first-child{
	margin-top:0;
}
.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.demo5{
	float:left;
	margin-right:7%;
}
.demo6{
	float:left;
}
.switch.demo3 {
  width:66px;
  height:35px;
}
.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background:#cacaca;
  border-radius:40px;
  color: #FFF; 
}
.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
}
.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px; right: -5px; bottom: -5px; left: -5px;
  border-radius: inherit;
}
.switch.demo3 label i {
  display: block;
  height: 75%;
  width: 39%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 50%;
  top: 14%;
  background: #fff;
  border: none;
}
.switch.demo3 label i:after {
  content: "off";
  position: absolute;
  left:20%;
  top:20%;
  width:18px;
  height:18px;
   background:url(../images/sprite.png) no-repeat -43px -133px;
  border-radius: inherit;
}
.switch.demo3 label i:before {
  content: "on";
  text-transform: uppercase;
  font-size: 0.9em;
  position: absolute;
  top: 53%;
  margin-top: -9px;
  right: -89%;
  color: #fff;
}
.switch.demo3 input:checked ~ label {
  background:#74c544;
  color:#FFF;
 
}
.switch.demo3 input:checked ~ label i {
  right: 9%;
}
.switch.demo3 input:checked ~ label i:before {
  content: "off ";
  right: 123%;
  color: #FFF;
}
/*--toogle_2--*/
.btns-right {
  float: left;
  width: 35%;
  margin-left: 3em;
}
/*---start-check-box----*/
.checkbox-grid-left input[type="checkbox"]{
	display:none;
}
.checkbox-grid-left input[type="checkbox"]+label{
	display:inline-block;
}
.checkbox-grid-left ul li {
	display:inline-block;
}
.checkbox-grid-left a{
	vertical-align: super;
	margin-left: 10px;
	color: #222;
	font-size: 1em;
}
input[type=checkbox].css-checkbox1 + label.css-label1 {
  height: 30px;
  width: 30px;
  margin: 1em 1em 0 0;
  display: inline-block;
  line-height: 18px;
  cursor: pointer;
  border: 2px solid #666;
  background: url(../images/icons.png)#e5e7ea no-repeat -50px 0px;
}
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
	background: url(../images/icons.png) #e5e7ea no-repeat -52px -21px;
}
input[type=checkbox].css-checkbox2 + label.css-label2 {
  height: 30px;
  width: 30px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 -37px;
  cursor: pointer;
  background: url(../images/icons.png)#e5e7ea no-repeat  -52px -21px;
  border: 2px solid #666;
}
input[type=checkbox].css-checkbox2:checked + label.css-label2 {
	background: url(../images/icons.png) #e5e7ea no-repeat -50px 0px;
}
/*---//check-box----*/
/*--radio-btns--*/
.radio-btns {
  margin-top: 2em;
}
.radio {
	position: relative;
	display:inline-block;
	margin-left:15px;
	padding-left:22px;
	line-height: 25px;
	color: #404040;
	cursor: pointer;
	width: 48%;
	float: left;
}
.radio:first-child {
	margin-left: 0;
	margin: 0;
}
.radio label{
	font-size:1em;
	color:#555;
}
.radio  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio i {
  position: absolute;
  top: -16px;
  left: 0;
  display: block;
  width: 28px;
  height: 28px;
  outline: none;
  border: 2px solid #BABABA;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.radio input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  content: '';
  top: 23%;
  left: 25%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.radio input:checked + i:after{
	opacity: 1;
}
label.checkbox {
	width: 28%;
	floaT: left;
}
/*** normal state ***/
.radio i {
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after {
	background-color:#E54706;	
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.2);
}
.radio input:checked + i {
	border: 2px solid #E54706;
	background: #fff;
}
/*--//radio-btns--*/
/*--dropdown--*/
.dropdown {
  margin-top: .5em;
}
ul.dropdown-menu3 {
  margin: 5px 0 0 0;
  padding: 0;
}
button#dropdownMenu3{
  font-size: 1.2em;
  background-color: #e64608;
  color: #fff;
  border: none;
  width: 100%;
  text-align: left;
  padding: 8px 18px;
  outline:none;
}
.btn .caret {
  margin-left: 0em;
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  top: 41%;
  right: 8%;
}
ul.dropdown-menu3 {
  border: none;
  min-width: 100%;
}
.dropdown-menu3 li {
  display: block;
  width: 100%;
}
.dropdown-menu3 li a {
  padding: 9px 20px;
  color: #979797;
  background-color: #373737;
  font-size: 1.2em;
}
.dropdown-menu3 li a:hover, .dropdown-menu3 li a.active{
  color: #A6A5A5;
  background-color: #151515;
}
/*--//dropdown--*/
/*--video--*/
.video-grid {
  padding: 0;
}
.video iframe {
  width: 100%;
  min-height: 200px;
}
.line-graph {
  padding: 0;
}
.graph-container {
  margin: 0 0 0 2em !important;
}
.clouds {
  padding: 0.5em 1em 0 2em;
  background-color: #fff;
  margin-top: 1em;
}
.clouds ul li {
  display: inline-block;
  margin-right: 1.6em;
}
.clouds ul li a {
  background: url(../images/c1.png) no-repeat 0px 0px;
  background-size: 100%;
  width: 52px;
  height: 55px;
  display: block;
}
.clouds ul li a.cld1 {
  background: url(../images/c2.png) no-repeat 0px 7px;
}
.clouds ul li a.cld2{
  background: url(../images/c3.png) no-repeat 0px 5px;
}
.clouds ul li a.cld3{
  background: url(../images/c4.png) no-repeat 0px 8px;
}
canvas#bar {
  background-color: #fff;
  padding: 1em 0;
}
/*--//video--*/
.footer {
  padding: 1em 0;
  text-align: center;
  margin: 2em 0;
  background-color: rgba(55, 55, 55, 0.78);
}
.footer p {
	font-size:1em;
	color:#fff;
}
.footer p a{
	font-size:1em;
	color:#fff;
}
.footer p a:hover{
	font-size:1em;
	color:#E64608;
}
/*---- responsive-design -----*/

@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1080px){
.top-nav {
  padding: 2.3em 0;
}
.top-nav ul li a {
  font-size: 1.2em;
  padding: 1.45em 1.25em;
}
.search form {
  width: 80%;
  margin: 0 auto;
}
.search {
  padding:1.2em 0;
}
.search form input[type="submit"] {
  height: 39px;
}
.search2 input[type="search"] {
  font-size: 1.2em;
  padding: 0.66em 0.8em;
}
.search2 form input[type="submit"] {
  background-position: 22px center;
  width: 60.4px;
  height: 47px;
  line-height: 9px;
}
.result {
  width: 47%;
}
.bnr-img {
  top: 17%;
}
.circles {
  padding: 2em 0em 5em 0em;
}
.result {
  width: 47%;
}
.btm-num ul li {
  width: 32%;
}
.btm-num ul li h4 {
  font-size: 1.6em;
}
canvas#doughnut {
  width: 144px !important;
  height: 144px !important;
}
canvas#line {
  width: 287px !important;
  height: 208px !important;
}
.line-chrt {
  margin: 1em 0 0 0;
}
.login-pad {
  padding: 3em 2em 1.3em;
}
.login-form h3 {
  margin: 0 0 23px 0;
}
.login-form form input[type="text"], .login-form form input[type="password"] {
  margin: 0 0 17px 0;
  padding: 9px 15px 9px 50px;
  font-size: 1em;
}
.login-form input[type="submit"] {
  margin: 1em 4.5em 0;
}
.new-grids a {
  font-size: 1em;
  padding: 1.1em 2em;
}
.top-nav3 {
  float: right;
  width: 16.4%;
}
.top-nav3.top-nav2 ul {
  width: 16.3%;
  right: 0%;
}
.top-nav3.top-nav2 ul li a {
  padding: 1.97em 0.5em;
  background-position: 21px 21px;
}
input[type="button"] {
  font-size: 1em;
}
.btn-grids {
  width: 47%;
}
.btn-gridssss a {
  font-size: 1em;
}
.btns-left {
  width: 59%;
    margin-top: 0;
}
.btns-right {
  margin-left: 1em;
  width: 34%;
}
.switch.demo3 {
  width: 62px;
  height: 36px;
}
.switch.demo3 label i {
  height: 75%;
  width: 39%;
  right: 47%;
  top: 11%;
}
.switch.demo3 label i:after {
  left: 3%;
}
input[type=checkbox].css-checkbox1 + label.css-label1 {
  margin: 0.5em 1em 0 0;
}
.social-icns {
  margin: 1em 0 0 0em;
}
.clouds ul li {
  margin-right: 0.65em;
}
.clouds {
  padding: 0.8em 1em;
}
.pages ul li a {
  padding: 0.8em 0.89em;
}
img#jp_poster_0 {
  width: 313px !important;
}
canvas#bar {
  width: 300px !important;
}
.graph-container {
  margin: 0 0 0 1.5em !important;
}
}
@media(max-width:991px){
.top-nav ul li a {
  font-size: 1em;
  padding: 1.3em 1em;
}
.top-nav {
  padding: 1.85em 0;
}
.search form {
  width: 91%;
}
.search input[type="search"] {
  font-size: 13px;
}
.search form input[type="submit"] {
  width: 40px;
  height: 36px;
  background-position: 10px 11px;
}
.search {
  padding: 0.79em 0em;
}
.content-grids {
  padding: 0;
}
.header {
  margin: 2em 0;
}
.search2 input[type="search"] {
  font-size: 1.1em;
  padding: 0.6em 0.8em;
  width: 91.55%;
}
.search2 form input[type="submit"] {
  height: 40px;
  line-height: 11px;
  width: 61px;
}
.menu {
  padding: 0;
  margin-top: 2em;
}
.circles {
  padding: 2em 1em 5em;
  float: left;
  width: 50%;
}
.result {
  width: 47%;
  float: right;
  padding: 2em 0 1.5em 2em;
}
.content-right {
  margin-top: 2em;
}
.bnr-img {
  left: 38%;
}
.calnder {
  float: left;
  width: 32%;
}
.login-form {
  float: right;
  width: 33%;
}
.pie-charts {
  width: 31%;
  float: left;
  padding: 0;
  margin: 0 1em;
}
.column_right_grid.calender {
  padding: 0.5em 1em 2em;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  font-size: 0.85em !important;
}
canvas#line {
  width: 236px !important;
  height: 135px !important;
  margin-left: -9px;
}
.login-pad {
  padding: 1.5em 1em 1.3em;
}
.login-form input[type="submit"] {
  margin: 0.5em 2.5em 0;
}
.login-form input[type="submit"] {
  margin: 0.5em 2.5em 0;
  padding: 8px 0px;
  font-size: 1em;
}
.login-form form input[type="password"] {
  background: url(../images/key.png) no-repeat 15px 8px;
}
.login-form form input[type="text"] {
  background: url(../images/msg.png) no-repeat 15px 7px;
}
.login-pad a {
  font-size: 1em;
}
.login-pad p {
  font-size: 0.9em;
  letter-spacing: 0;
  margin: 1em 0 0;
}
.mediaLogIn {
  padding-left: 50em !important; 
}
.new-grids a {
  font-size: 0.9em;
  padding: 1em 2em;
}
canvas#doughnut {
  width: 144px !important;
  height: 144px !important;
}
.calender-right h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
}
.clndr-top {
  padding: 1em 2em;
}
.column_right_grid.calender {
  padding: 0.5em 1em 1em;
}
.menu-list {
  float: left;
  width: 50%;
}
.menu-list {
  float: left;
  width: 55%;
}
.middle-grids {
  float: right;
  width: 44%;
  padding-right: 0;
}
span.menu2 lable {
  padding-left: 1.3em;
}
.top-nav2 ul li a {
  font-size: 1em;
  background-position: 26px 13px;
}
.top-nav2 ul li:nth-child(2) a {
   background-position:26px 10px;
}
.top-nav2 ul li:nth-child(3) a {
  background: url(../images/m3.png) no-repeat 26px 13px;
}
.top-nav2 ul li:nth-child(4) a {
  background: url(../images/m4.png) no-repeat 26px 13px;
}
.top-nav2 ul li:nth-child(5) a {
  background: url(../images/m5.png) no-repeat 26px 12px;
}
op-nav2 ul li a:hover span {
  margin: -3px 1.5em 0 0;
}
.top-nav3.top-nav2 ul li a {
  padding: 1.97em 0.5em;
  background-position: 19px 15px;
}
.progress {
  margin: 1em 0 1em;
}
.progress p.percentage {
  right: 58px;
  top: -16px;
}
.designer {
  padding: 2.5em 1em;
}
.social-icons ul li a span {
  font-size: 1em;
}
.designer p {
  font-size: 1em;
  margin-bottom: 3em;
}
.designer h3 {
  font-size: 1.5em;
}
.designer h5 {
  font-size: 1em;
  margin: .3em 0;
}
.social-icons ul li a {
  padding: .2em .5em;
  
}
.social-icons ul li a:before {
  width: 55px;
  height: 27px;
}
.clouds ul li a {
  background-size: 93%;
  height: 45px;
}
.clouds ul li a.cld1 {
  background-position:0px 8px;
  background-size: 90%;
}
.clouds ul li a.cld2 {
  background-position:0px 0px;
  background-size: 93%;
}
.clouds ul li a.cld3 {
  background-position:0px 1px;
  background-size: 93%;
}
.clouds {
  padding: 0.5em 1em 0.5em 2em;
}
.pages {
  margin: 26.5em 0 0;
}
.pages ul li a {
  padding: 0.5em 0.9em;
}
.menu-list:nth-child(3) {
	width: 100%;
	margin-top: 1.5em;
}
.buttons {
  float: left;
  width: 50%;
}
.dropdown {
  float: right;
  width: 46%;
}
input[type="submit"] {
  padding: 11px;
}
.switch.demo3 {
  width: 66px;
}
.switch.demo3 label i {
  height: 71%;
  width: 37%;
}
.dropdown-menu3 li a {
  padding: 20px 20px;
}
.bar-charts {
  float: left;
  width: 45%;
  padding: 0;
}
.line-graph {
  float: right;
  width: 50%;
}
.graph-container > div {
  top: 2em;
}
div#jquery_jplayer_1 {
  width: 100% !important;
}
img#jp_poster_0 {
  width: 100% !important;
}
.radio {
  width: 38%;
}
video#jp_video_0 {
  width: 100% !important;
}
.video-grid {
  margin-bottom: 1.5em;
}
canvas#bar {
  width: 337px !important;
}
.graph-container {
  margin: 0 0 0 1.4em !important;
  width: 94% !important;
}
.graph-container > div {
  left: 8px !important;
}
}
@media(max-width:1050px){
.column_right_grid.calender {
  padding: 0.5em 1em;
}
}
@media(max-width:640px){
.logo {
  width: 17%;
}
.top-nav {
  width: 40%;
   padding:0;
}
.top-nav ul.nav1 {
  display: none;
  z-index: 999;
  position: absolute;
  width: 95.2%;
  left: 2.4%;
}
.top-nav span.menu {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.8em;
  color: #fff;
  padding: 1.26em 0;
  margin-top: 0em;
  text-align: center;
  border-right: 1px solid rgba(247, 228, 221, 0.97);
}

ul.nav.nav-sidebar {
  margin: 0;
}
.top-nav ul.nav1 li {
  display: block;
  text-align: center;
  background: rgba(55, 55, 55, 1);
  margin: 0;
  width: 100%;
  padding: 1px;
  border: 1px dotted rgb(80, 79, 79);
}
.top-nav ul li a {
  display: block;
  padding: 1.2em 0;
  margin: 0;
    border: none;
}
.top-nav ul li a:hover, .top-nav ul li a.active {
  color: #E64608;
}
.search {
  width: 43%;
  padding: 1.2em 0 1.2em 3em;
}
.search2 input[type="search"] {
  width: 89.7%;
}
.circles {
  width: 100%;
}
.result {
  width: 100%;
  margin-top: 1.5em;
}
.calnder {
  float: none;
  width: 100%;
}
.column_right_grid.calender {
  padding: 0.5em 4em 1em;
}
.bottom-border {
  margin: 1em 0 0;
}
.center-grids {
  margin-top: 1em;
}
.pie-charts {
  width: 100%;
  float: none;
  margin: 0;
}
.pie-chrt {
  padding: 1em 0;
  width: 47%;
  float: left;
  margin-right: 1em;
}
.login-form {
  float: none;
  width: 100%;
  margin-top: 1em;
}
.login-pad {
  padding: 2.5em 3em 1.3em;
}
.login-form input[type="submit"] {
  margin: 0.5em 8em 0;
}
.menu-list {
  float: none;
  width: 100%;
}
canvas#line {
  width: 294px !important;
  height: 184px !important;
}
.middle-grids {
  float: none;
  width: 100%;
  margin-top: 20em;
}
.progress p.percentage {
  right: 127px;
  top: -31px;
}
.pages {
  margin: 0em 0 0;
}
.top-nav3.top-nav2 ul li a {
  background-position: 36px 16px;
}
.bar-charts {
  padding: 0;
}
.clouds {
  padding: 0.5em 1em 0.5em 11em;
}
canvas#bar {
  width: 292px !important;
}
.graph-container {
  margin: 0 0 0 1em !important;
}
.designer {
  background-position:0px 0px;
}
}
@media(max-width:600px){
.logo {
  width: 19%;
}
.top-nav {
  width: 38%;
}
.top-nav span.menu {
  padding: 1.32em 0;
}
.search {
  padding: 1.45em 0 1.2em 3em;
}
.pie-chrt {
  width: 100%;
  float: none;
  margin-top: 1em;
}
.bar-charts {
  float: none;
  width: 100%;
}
canvas#bar {
  width: 550px !important;
}
.line-graph {
  float: none;
  width: 100%;
}
.graph-container {
  margin: 0 !important;
  width: 99% !important;
}
.graph-container > div {
  left:15px !important;
}
canvas.base {
  width: 90%;
  height: auto;
  margin-top: 1.5em;
}
.tickLabel {
  width: 40px !important;
}
}
@media(max-width:480px){
.logo {
  width: 25%;
}
.top-nav span.menu {
  font-size: 1.4em;
  padding: 1.75em 0;
}
span.menu2 {
  font-size: 1.3em;
}
.top-nav {
  width: 30%;
}
.search {
  width: 45%;
  padding:1.39em 0 1.4em 1em;
}
.search form {
  width: 92%;
}
.search2 input[type="search"] {
  width: 85.8%;
  font-size: 1em;
}
.column_right_grid.calender {
  padding: 0.5em 2em 1em;
}
.cal1 .clndr .clndr-table tr {
  height: 53px !important;
}
.pie-charts {
  margin-top: 1em;
}
.pie-chrt {
  width: 100%;
  float: none;
  margin: 0;
}
.line-chrt {
  margin: 1em 0;
}
canvas#line {
  width: 470px !important;
  height: 241px !important;
  margin-left: -22px;
}
.bnr-img {
  left: 30%;
}
.bnr-text h1 {
  font-size: 1.8em;
}
.bnr-text h5 {
  font-size: 1.1em;
}
.btm-num ul li h4 {
  font-size: 1.4em;
}
.top-nav3.top-nav2 ul li a {
  background-position: 23px 13px;
}
.middle-grids {
  margin-top: 2em;
   padding: 0;
}
.progress p.percentage {
  right: 86px;
  top: -30px;
}
.login-form input[type="submit"] {
  margin: 0.5em 7em 0;
}
span.menu2 lable {
  font-size: 1em;
}
.pages {
  margin:0;
}
.search2 form input[type="submit"] {
  width: 61.5px;
}
.search2 form input[type="submit"] {
  width: 61.5px;
  height: 37px;
}
.buttons {
  width: 100%;
}
.switch.demo3 {
  width: 87px;
  height: 49px;
}
.top-nav3 {
  margin-bottom: 22em;
}
.pages ul li a {
  padding: 0.5em 1.01em;
}
.radio:first-child {
  width: 32%;
}
.dropdown {
  width: 100%;
}
.login-pad {
  padding: 2.5em 3em 1.3em;
}
.login-form input[type="submit"] {
  margin: 0.5em 6em 0;
}
.designer {
  padding: 3em 1em;
}
.btn .caret {
  top: 46%;
  right: 5%;
}
.dropdown-menu3 li a {
  padding: 12px 20px;
}
.video-grid {
  margin-top: 12em;
}
.bar-charts {
  float: none;
  width: 100%;
  margin-top: 1em;
}
canvas#bar {
  width: 431px !important;
}
.line-graph {
  float: none;
  width: 100%;
}
.clouds {
  padding: 0.5em 1em 0.5em 7em;
}
.top-nav3.top-nav2 span {
  padding: 0.85em 0;
}
.graph-container {
  margin: 0 !important;
  width: 99% !important;
}
.footer p {
  font-size: 0.9em;
}
}
@media(max-width:320px){
.header {
  margin: 1em 0;
}
.top-nav {
  width: 58%;
}
.top-nav span.menu {
  padding: 1.6em 0;
  border: none;
}
.logo {
  width: 42%;
  padding: 0.8em 1.6em 1.2em;
}
.search {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
}
.search form {
  width: 100%;
}
.search2 input[type="search"] {
  width: 77.4%;
}
.search-btm {
  margin: 1em 0 0;
}
.temp {
  float: none;
  width: 100%;
}
.temp h5 {
  font-size: 3em;
}
.jobs {
  float: none;
  width: 100%;
  margin-top: 1em;
}
.menu ul li a {
  padding: 1em 1.5em;
  font-size: 1em;
}
.demo-1, .demo-2, .demo-3 {
  width: 50%;
  margin-bottom: 5em;
}
.circles {
  padding: 2em 1em 1em;
}
.result {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 2em 0 1.5em 1em;
}
.cntnt-img {
  min-height: 150px;
}
.bnr-img {
  left: 21%;
  width: 64%;
  top: 11%;
}
.bnr-text p {
  font-size: 0.9em;
  width: 91%;
  letter-spacing: 0;
}
.btm-num ul li h4 {
  font-size: 1.2em;
}
.btm-num ul li h5 {
  font-size: 1.1em;
}
.column_right_grid.calender {
  padding: 0.5em 1em 1em;
}
.cal1 .clndr .clndr-table tr {
  height: 34px !important;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  font-size: 0.8em;
}
canvas#line {
  width: 302px !important;
  height: 206px !important;
  margin-left: -22px;
}
.login-pad {
  padding: 2em 2em 1.3em;
}
.login-form input[type="submit"] {
  margin: 0em 3em 0;
  font-size: 0.9em;
  padding: 5px 0px;
}
span.menu2 {
  padding:0.5em 1em .5em 1em;
  font-size: 1.2em;
}
.top-nav2 {
  width: 74%;
}
span.menu2 img {
  width: 14%;
}
.top-nav2 ul {
  width: 74%;
}
.top-nav2 ul li a {
  background-position: 18px 13px;
  padding: 1.3em 0 1.2em 4em;
}
.top-nav2 ul li:nth-child(2) a {
  background-position: 18px 13px;
}
.top-nav2 ul li:nth-child(3) a {
  background-position: 18px 13px;
}
.top-nav2 ul li:nth-child(4) a {
  background-position: 18px 13px;
}
.top-nav2 ul li:nth-child(5) a {
  background-position: 18px 13px;
}
.top-nav2 ul li a span {
  line-height: 18px;
  font-size: 0.9em;
}
.top-nav3 {
  width: 20.4%;
    margin-bottom: 21em;
}
.top-nav3.top-nav2 span {
  padding: 0.7em 0;
  font-size: 0.9em;
}
.top-nav3.top-nav2 span img {
  width: 45%;
}
.top-nav3.top-nav2 ul {
  width: 20.3%;
}
.top-nav3.top-nav2 ul li a {
  background-position: 16px 13px;
}
.pages ul li a {
  padding: 0.5em .53em;
}
.middle-grids {
  margin-top: 1em;
  padding: 0;
}
.social-icons ul li a {
  padding: .2em 0em;
}
.clouds {
  padding: 1em 0 0 1em;
}
.switch.demo3 label i {
  height: 62%;
  width: 33%;
  right: 50%;
  top: 17%;
}
.switch.demo3 {
  width: 79px;
  height: 41px;
}
.btns-left {
  width: 65%;
  margin-top: 6px;
}
.btns-right {
  margin-left: 1em;
  width: 29%;
}
.radio:first-child {
  width: 51%;
}
.radio input + i:after {
  top: 21%;
}
.dropdown-menu3 li a {
  padding: 12px 20px;
}
.video-grid {
  margin-top: 12em;
}
canvas#bar {
  width: 270px !important;
  margin-left: 0em;
  height: 255px !important;
}
.graph-container > div {
  left: 11px !important;
}
.footer p {
  font-size: 0.9em;
}
.footer {
  margin-top: 1em;
}
.temp-left {
  top: 9%;
  right: 8%;
}
.top-nav ul.nav1 {
  width: 90%;
  left: 5%;
}
.bar-charts {
  margin-top: 1em;
}
.progress {
  height: 10px;
}
.fd-slider-bar {
  height: 10px;
}
.fd-slider-range {
  height: 10px;
}
.jp-video .jp-volume-controls {
  left: 21px !important;
}
.jp-video .jp-type-single .jp-controls {
  margin-left: 124px !important;
}
.jp-controls-holder {
  width: 273px;
}
.jp-video .jp-toggles {
  width: 64px;
}
.jp-full-screen {
  margin-left: 8px;
}

.profile-photo {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

}
/*--//responsive-design---*/